html {
	color: white;
	height: 100%;
	width: 100%;

}


body {
	margin: 0px;
}

/* ------------------------------------------------------------- */
#menu {
	background-color: black;
	height: 80px;
	width: 100%;
	font-size: 18px;
	font-family: "Arial", sans-serif;
	/* font-family: "Helvetica Neue", sans-serif;*/

}

.float_left {
	float: left;
	box-sizing: border-box;
	padding: 31px 35px 31px 35px;
	height: 80px;
	cursor: pointer;

}


.float_right {
	float: right;
	box-sizing: border-box;
	padding: 31px 15px 31px 15px;
	height: 80px;
	cursor: pointer;
}

#image {
	float: left;
	box-sizing: border-box;
	padding: 18.5px 10px 18.5px 10px;
	height: 80px;
	width: 100px;

}

#link{
	color:white;
	text-decoration:none;
	list-style: none;
}
#connexion{
	color:red;
	text-decoration:none;
	background-color:black;
	border: 6px solid red;
	padding: 10px;
}
#connexion: hover{
	cursor:pointer;
}


/* ------------------------------------------------------------- */
canvas {
	background-image: url(blue.png);

}

#espace {
	clear: both;
	height: 50px;
	width: 100%;
}

#center {
	height: 600px;
	width: 600px;
	margin: 0px auto 0px auto;

}

.float_left:hover {
	background-color: grey;
}


.float_right:hover {
	background-color: grey;
	/*color: white;
	text-decoration: none;
	border-bottom: solid 1px blue;*/
}
/* ------------------------------------------------------------- */
#menubas{
border: 1px solid black;
text-align: center;
padding: 12px;
border-radius: 10px;
background-color: black;
position: absolute;
width: 100%;
bottom: 0; left: 0; right: 0;
}
#footer li a{
color:white;
text-decoration:none;
}
#footer li{
display:inline;
list-style: none;
}

/* ------------------------------------------------------------- */
#noir{
	color:black;
}

/* ------------------------------------------------------------- */

table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 width:90%;
 }
td{
 background-color: yellow;
 border-width:1px;
 border-style:solid; 
 border-color:black;
 width:50%;
 height: 60px;
}

