<div id="centrer">
    <h1> Comment jouer ? </h1> <br> <br>
    <div id="global">
	  <!--PREMIER CADRE-->
	      <div id="cadre1"> <br> <br>
		        <img src="manuel2.jpg" alt="image" /><br> <br>
		        - Déplacez le vaisseau spatial avec les touches du clavier <br> <br>
           		 - Détruisez les envahisseurs de galaxie avec la touche espace <br> <br>
		    </div>

	   <!--SECOND CADRE-->
	      <div id="cadre2"> <br> <br> <br> 
		        <img src="meteorBrown_big3.png" alt="image" /> &nbsp &nbsp 
		        <img src="playerShip1_blue.png" alt="image" />
			      <br> <br> <br> <br> 
		        - Evitez les météorites <br> <br>
    		        - Améliorez le vaisseau spatial <br> <br>
   	                - Chargez vos armes <br> <br> <br>		
	      </div>
	
    </div> <br> <br>

    <div id="white"> <br> <br> <br> <br> <br> <br> <br> <br> 	<br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        	L'avenir de la galaxie est entre vos mains. Préparez 	vos armes pour des batailles épiques. <br> <br><br> <br>
    <a href="/"> Jouer maintenant !!! </a>

</div>
