
  <div id="centrer">
    <h1> Comment jouer ? </h1>
  </div>
  <div class="règles">
    - Déplacez le vaisseau spatial avec les touches du clavier <br> <br>
    - Détruisez les envahisseurs de galaxie <br> <br>
    - Evitez les météorites <br> <br>
    - Améliorez le vaisseau spatial <br> <br>
    - Changez vos armes <br> <br> <br>

    L’avenir de la galaxie est entre vos mains. Préparez vos armes pour des batailles épiques. <br> <br><br> <br><br>
    <br> <br>
    <a href="/"> Jouer maintenant !!! </a>
  </div>
