<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/projet.css">
	<link rel="stylesheet" href="/css/Formulaire.css">

	{{#if game}}
		<script src="/js/vie.js" type="text/javascript"></script>
		<script src="/js/enemie.js" type="text/javascript"></script> 
		<script src="/js/keyboardmanager.js" type="text/javascript"></script>
		<script src="/js/missile.js" type="text/javascript"></script>
		<script src="/js/players.js" type="text/javascript"></script>
		<script src="/js/space_shooter.js" type="text/javascript"></script>
		<script src="/js/fonction_annexe.js" type="text/javascript"></script>
	{{/if}}
</head>

<body>
	<div id="menu">

		<div id="image"><img src="/images/icone_jeu.jpg"> </div>
		<div class="float_left">
			<a id="link" href="/projet2" > Space Shooter </a>
		</div>
		<div class="float_left"> Top Score </div>
		<div class="float_left">
			<a id="link" href="/manuel"> Manuelle </a>
		</div>
		<div class="float_left">
			<a id="link" href="/regles" > Règle de jeu </a>
		</div>
		<div class="float_right">
			<a id="connexion" href="/signin" >Connexion </a>
		</div>
		<!--<div class="float_right"><a href="https://jsfiddle.net/bgea2ba7/" /> Réglage</div>-->
		<div id="espace"></div>
		<div id="center"><canvas id="game_area" width="600" height="600"></canvas></div>
	</div>
	
	{{{body}}}

	<div id="menubas">
		<ul id="footer">
  		<li><a href="#"> A propos </a></li> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  		<li><a href="conditions.html"> Conditions générales </a></li> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  		<li><a href="#"> Cookies </a></li> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  		<li><a href="#"> Aide </a></li> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  		<li><a href="contact.html"> Contactez-nous </a></li>
		</ul>
	</div>


</body>

</html>
